@{ ViewData["Title"] = "View Activity"; }


<div class="container">

    <div class="col-lg-6">
      
        <h1>@ViewBag.Profile.ActivityName</h1>
        <h2>Event Coordinator:</h2>
        <p>@ViewBag.Profile.ActivityCreator.FirstName @ViewBag.Profile.ActivityCreator.LastName</p>
        <h2>Event Description:</h2>
        <p>@ViewBag.Profile.ActivityDescription</p>
        <h2>Participants:</h2>
        <ul>
            <li>@ViewBag.Profile.ActivityJoiner.FirstName @ViewBag.Profile.ActivityJoiner.LastName</li>
        </ul>
        <button class="btn">JOIN ACTIVITY</button>
        <button class="btn">LEAVE ACTIVITY</button>
    </div>


</div>