@{ ViewData["Title"] = "Account"; }
<div class="header">
    <h1>Welcome, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
</div>
<div class="errors">
        @{ foreach(var error in ViewBag.Errors){
        <p>@error</p>
        } }
</div>
<a href="/">HOME</a> | 
<a href="Logout">LOGOUT</a>
<label>Current Balance:</label>
@ViewBag.User.Balance
<div>
    <h2>Register</h2>
    <form action="AddTransaction" method="post">
        <label for="Amount">Deposit or Withdraw:  $</label>
        <input type="number" name="Amount" placeholder="Enter Amount  0.00" step="0.01" required> 
        <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
        <input class="btn" type="submit" value="SUBMIT">
    </form>
</div>
<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    @{ foreach( var transaction in ViewBag.User.Transactions) {
    <tr>
        <td>@transaction.Amount.ToString("C")</td>
        <td>@transaction.Date</td>
    </tr>
    }}

</table>