@{ ViewData["Title"] = "Dashboard"; }
<div class="container">
    <h1>Hello @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
  
    <div class="col-lg-10">
        <h2>Your Description:</h2>
        @ViewBag.User.Description
    </div>
    <div class="col-lg-12">
        <h2>Your Professional Network:</h2>
        <table class="table table-hover">
        <tbody>
            
                @{ foreach(var friend in @ViewBag.AllPendingInvites){
                   @if(@friend.Accepted == true || @friend.InviteSentFromId != @ViewBag.User.UserId){
                       <tr>
                       <td>@friend.InviteSentFrom.FirstName</td>
                       </tr>
                   } 
               }}
                
        </tbody>
    </table>
    </div>
     <div class="col-lg-12">
        <h2>Your Pending Invitations:</h2>
        <table class="table table-hover">
            <tr>
                <th>NAME</th>
                <th>ACCEPT</th>
                <th>IGNORE</th>
            </tr>
        <tbody>
        @{ foreach (var invite in @ViewBag.AllPendingInvites){
                   
                    @if(@invite.Accepted == false) {
                    <tr>
                            <td>@invite.InviteSentFrom.FirstName</td>
                            <td><a href ="/AddFriend/@invite.InviteId">ACCEPT</a></td>
                            <td><a href ="/DeclineUser/@invite.InviteId">IGNORE</a></td>
                    </tr>
                    }
                }}
          
        
        </tbody>
    </table>
    </div>

        </tbody>
    </table>
    </div>
</div>
    
