@{ ViewData["Title"] = "Admin Dashboard"; }

<div class="col-lg-12">
    <h2>Manage Users</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>User Level</th>
                <th>Edit User</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach( var user in @ViewBag.AllUsers ){
            <tr>
                <td>@user.UserId</td>
                <td><a href="/MyProfile/@user.UserId">@user.FirstName @user.LastName</a></td>
                <td>@user.Email</td>
                <td>@user.CreatedAt.ToString("MMM dd, yyyy")</td>
                <td>@if(user.UserLevel == 9) {
                    <text>Admin</text>} else{
                    <text>Normal</text>}
                <td><a href="/EditUser/@user.UserId"><button class="btn">EDIT</button></a></td>
                <td><a href="/DeleteUser/@user.UserId"><button class="btn" onclick="DeleteFunction()">DELETE</button></a></td>
            </tr>
            }}

        </tbody>
    </table>
</div>
<a href="/AddNewUser"><button class="btn">ADD NEW USER</button></a>